/* 全スライド共通スタイル */
.slick-slide {
    margin: 30px 10px;
}

.slider {
    padding-left: 0;
    overflow: hidden; /* 余分な表示を防ぐ */
}

.slick-slide img {
    max-width: 30%; /* 親要素の幅に収まる */
    width: 100%; /* スライド幅に合わせる */
    height: auto; /* 縦横比を維持 */
    object-fit: cover; /* 必要ならトリミング */
    margin: 0 auto; /* 左右のマージンを自動 */
}


.slider-h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 100px 30px 30px 30px;
    text-align: center;
  }


/* スマホ画面（レスポンシブ対応） */
@media screen and (max-width: 768px) {
    .slick-slide img {
        max-width: 100%; /* 親要素の幅に合わせる */
        height: auto; /* 縦横比を維持 */
    }
}
